html, body, button{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
h1{
    font-size: 40px;
    text-align: center;
    height: 50px;
}
.zapros{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    gap: 15px;
    position: sticky;
    top:5%;
    z-index: 10;
    
}
.search{
    width: 40%;
    height: 40px;
    border: 2px solid #6C63FF;
    border-radius: 5px;
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
    transition: 0.5s;
}

.poisk{
     width: 90%;
     height: 30px;
     border: none;
     font-size: 20px;
     text-indent: 3%;
     outline: none;
     padding-top: 5px;
     color: #4942cd;
     background-color: rgba(255, 255, 255, 0);
}
.poisk::placeholder{
    color:#6C63FF;
    opacity: 0.5;
    transition: 0.5s;
}
.lupa{
    width: 10%;
    height: 40px;
    background-image: url("lupa.svg");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 15px 7px;
    cursor: pointer;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}
select{
    width: 6%;
    height: 44px;
    background-color: #6C63FF;
    color: white;
    border-radius: 5px;
    border: 2px solid #6C63FF;
    font-size: 20px;
    cursor: pointer;
}
#luna{
    width: 44px;
    height: 44px;
    background-color: #6C63FF;
    color: white;
    border-radius: 5px;
    border: 2px solid #6C63FF;
    cursor: pointer;
    position: relative;
}
.luna{
    position: absolute;
    opacity: 1;
    transition: 0.5s;
}
.soli{
    opacity: 0;
    transition: 0.5s;
}
.spisok{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.note{
    appearance: none;
    border: 0.5px solid #6C63FF;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.6s;
    display: block;
    margin-top: 2.5%;
    
}
.text{
    margin-left: 15%;
    font-size: 30px;
    transition: 0.6s;
    margin-left: -0.1%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.note:checked{
    accent-color: #6C63FF;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
    background-color: #6C63FF;
    transition: 0.6s;
}
.note:checked ~.text{
    transition: 0.6s;
    opacity: 0.5;
    text-decoration: line-through;
}
#zamet{
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100px;
   
}
#zamet label{
    display: flex;
    width: 100%;
    position: relative;
    border-bottom: 2px solid #6C63FF;
    
}
.buttons{
    position: absolute;
    width: 85px;
    height: 35px;
    opacity: 0;
    padding-left: 80%;
    transition: 0.5s;
    z-index: 9;
    left: 6%;
    background-color: #00000000;
}
 .buttons:hover{
    opacity: 1;
    transition: 0.5s;
}
 .buttons:focus{
    opacity: 1;
    transition: 0.5s;
}
.frame{
    width: 30px;
    height: 30px;
    background-image: url("Frame.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgba(240, 248, 255, 0);
    cursor: pointer;
    position: absolute;
    right: 3.5%;
}
.trash{
    width: 30px;
    height: 30px;
    background-image: url("trash.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgba(240, 248, 255, 0);
    cursor: pointer;
    position: absolute;
}
hr{
    width: 90%;
    height: 1px;
    color: #6C63FF;
    background-color: #6C63FF;
    border: none;
    position: absolute;
    left: 0;
}
#add{
    position: fixed;
    left: 72%;
    bottom: 6%;
    width: 60px;
    height: 60px;
    background-color: #6C63FF;
    border-radius: 30px;
    box-shadow: 0px 0px 10px #6C63FF;
    background-image: url("krest.svg");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 15px 15px;
    cursor: pointer;
    z-index: 9;
}
.by{
    height: 500px;
    width: 100%;
}
.windoww{
    width: 50vw;
    height: 60vh;
    background-color: white;
    position: fixed;
    bottom: 25%;
    left: 25%;
    z-index: 10;
    border: 2px solid #6C63FF;
    border-radius: 5px;
    display: none;
    transition: 0.5s;
}
.wini {
    position: absolute;
    left: 37%;
}
#name_note{
    width: 50%;
     height: 30px;
     border: none;
     border-bottom: 2px solid #6C63FF;
     font-size: 20px;
     text-indent: 3%;
     outline: none;
     padding-top: 10%;
     color: #4942cd;
     position: absolute;
     left: 25%;
     text-align: center;
     top: 40px;
     background-color: #00000000;
}
.name_note::placeholder{
    color: #6C63FF;
    opacity: 0.5;
}
#closed{
    width: 15vw;
    height: 8vh;
    font-size: 20px;
    background-color: #00000000;
    position: absolute;
    top: 70%;
    left: 10%;
    border-radius: 5px;
    border: 2px solid #4942cd;
    color: #4942cd;
}
#apply{
    width: 15vw;
    height: 8vh;
    font-size: 20px;
    background-color: #4942cd;
    position: absolute;
    top: 70%;
    left: 60%;
    border-radius: 5px;
    border: 2px solid #4942cd;
    color: #f5f4ff;
}
#temno{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    bottom: 0%;
    z-index: 10;
    opacity: 0.5;
    display: none;
}

 body.light-tem{
    background-color: white;
    color: #000000;
    transition: 0.5s;
}
body.dark-tem{
    background-color: rgb(23, 0, 71);
    color:#edecff;
    transition: 0.5s;
}
.searchdark{
    width: 40%;
    height: 40px;
    border: 2px solid #edecff;
    border-radius: 5px;
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(23, 0, 71);
    transition: 0.5s;
}
.poiskdark{
     width: 90%;
     height: 30px;
     border: none;
     font-size: 20px;
     text-indent: 3%;
     outline: none;
     padding-top: 5px;
     color: #edecff;
     background-color: rgba(255, 255, 255, 0);
}
.poiskdark::placeholder{
    color: #edecff;
    opacity: 0.5;
    transition: 0.5s;
}
.windowwdark{
    width: 50vw;
    height: 60vh;
    background-color: rgb(23, 0, 71);
    position: fixed;
    bottom: 25%;
    left: 25%;
    z-index: 10;
    border: 2px solid #edecff;
    border-radius: 5px;
    display: none;
    transition: 0.5s;
}
.lunadark{
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.soldark{
    position: absolute;
    opacity: 1;
    transition: 0.5s;
}

